name: "CI"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lintAndTest:
    name: Lint & Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [ '14', '16' ]
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.4
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - name: Install Packages
        run: yarn install
      - name: Format
        run: yarn format
      - name: Lint
        run: yarn lint
      - name: Add pm2 package
        run: npm i -g pm2
      - name: Start Test Server
        run: pm2 start ./testing/site/server.js
      - name: Start Otto Server
        run: pm2 start ./node_modules/@bluenova/otto-server/dist/bin/www.js
      - name: Test
        run: yarn test
      - name: Stop Servers
        run: pm2 stop all
      - name: Upload Code Coverage
        uses: codecov/codecov-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

